<%= form_for(order) do |f| %>
<%= hidden_field_tag :item, item.id %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="detail-wrapper">
    <div class="detail-show">

      <div class="show-image item_<%=@item.id%>" style='background-image: url("<%=@item.image%>")'></div>

      <div class="info">
        <div class="left">
          <p>
            <strong>Name:</strong>
            <%= @item.name %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @item.price %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @item.description %>
          </p>

          <p>
            <strong>Location:</strong>
            <%= @item.location %>
          </p>
        </div>
      </div>
      <% if current_user.purchases.map{|o| o.item.id }.include? item.id %>
        Offer Pending!
      <%else%>
        <%=f.submit "Make an Offer", class: "btn btn-primary btn-md"%>
      <%end%>
    </div>
  </div>
<% end %>
